<% include head %>
<div class="row">
  <div class="small-12 columns" id="messages">
  </div>
</div>
</div>
<div class="row">
  <div class="small-12 columns">
    <textarea id="input" placeholder="Message to the server"></textarea>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <a href="#" class="button" id="send">Send</a>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var hostname = '<%= host %>';
  var socket = io.connect(hostname);
  var connected = false;

  socket.emit('serverJoin', {
    server: 'irc.freenode.net', 
    nick: 'aIRChatBOT',
    firstchannel: '#ctf-portside'
  });

  var addMessage = function (data) {
    $('div#messages').append($(
      '<div class="message">' +
      '  <div class="titlebar">' +
      '    <span>' + data.from + ' in ' + data.channel + '</span>' +
      '  </div>' +
      '  <div class="messageContent">' +
      '    <span>' + data.message + '</span>' +
      '  </div>' +
      '</div>'
    ));
  };

  socket.on('notifyLow', addMessage);
  socket.on('notifyHigh', addMessage);
  socket.on('joined', function (channel) {
    alert('Joined ' + channel);
    connected = true;
  });

  $('a#send').click(function (evt) {
    if (connected === false) {
      alert('Please wait until you have finished connecting.');
      return;
    }
    var $ta = $('textarea#input');
    socket.send($ta.val());
    console.log('sent "' + $ta.val() + '"');
    addMessage({channel: '#ctf-portside', from: 'you', message: $ta.val()});
    socket.emit('writeChat', {destination: '#ctf-portside', message: $ta.val()});
    $ta.val('');
  });
</script>
<% include foot %>
