<% include head %>
<div class="row">
  <div class="large-12 columns">
    <h1>aIRChat</h1>
  </div>
</div>

<!-- Register overlay -->
<div class="reveal-modal" id="register" data-reveal>
  <div class="row">
    <div class="small-4 columns">
      <h2>Register</h2>
    </div>
  </div>
  <form action="/register">
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="text" id="username" placeholder="username" />
      </div>
    </div>
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="password" id="password" placeholder="password" />
      </div>
    </div>
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="password" id="passwordrepeat" placeholder="confirm password" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="submit" class="button success" value="Register" />
      </div>
    </div>
  </form>
</div>

<!-- Login overlay -->
<div class="reveal-modal" id="login" data-reveal>
  <div class="row">
    <div class="small-4 columns">
      <h2>Log in</h2>
    </div>
  </div>
  <form action="/register">
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="text" id="username" placeholder="username" />
      </div>
    </div>
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="password" id="password" placeholder="password" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="submit" class="button success" value="Register" />
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="small-8 columns">
    <h2>Get Started</h2>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <ul class="button-group">
      <li><a href="#" data-reveal-id="register" class="button">Register</a></li>
      <li><a href="#" data-reveal-id="login" class="button">Log in</a></li>
    </ul>
  </div>
</div>
<% include foot %>
