<% include head %>
<div class="row">
  <div class="large-8 columns">
    <p>
      Hello world!
    </p>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <button class="large success">Click me!</button>
  </div>
</div>
<% include foot %>
