<% include head %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <a href="#"><img id="logo" src="/images/logoheader.png" /></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if (showDonationButton) {%>
        <li><a href="#donations">Donate</a></li>
      <% } %>
      <li class="active"><a href="#" data-reveal-id="login">Log in</a></li>
      <li><a href="#" data-reveal-id="register">Register</a></li>
    </ul>
  </section>
</nav>
<!-- Register overlay -->
<div class="reveal-modal" id="register" data-reveal>
  <div class="row">
    <div class="small-4 columns">
      <h2>Register</h2>
    </div>
  </div>
  <form action="/register" method="post">
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="text" id="username" name="username"  placeholder="username" />
      </div>
    </div>
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="password" id="password" name="password" placeholder="password" />
      </div>
    </div>
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="password" id="passwordrepeat" name="passwordrepeat" placeholder="confirm password" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="submit" class="button success" value="Register" />
      </div>
    </div>
  </form>
  <a href="#" class="close-reveal-modal">&#215;</a>
</div>

<!-- Login overlay -->
<div class="reveal-modal" id="login" data-reveal>
  <div class="row">
    <div class="small-4 columns">
      <h2>Log in</h2>
    </div>
  </div>
  <form action="/login" method="post">
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="text" id="username" name="username" placeholder="username" />
      </div>
    </div>
    <div class="row">
      <div class="small-4 large-8 columns">
        <input type="password" id="password" name="password" placeholder="password" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="submit" class="button success" value="Log in" />
      </div>
    </div>
  </form>
  <a href="#" class="close-reveal-modal">&#215;</a>
</div>
<div id="userActionArea">
  <div class="row">
    <div class="small-12 columns">
      <h2>Take a peek</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p> 
        Here's a quick look at what the world's most modern, user-oriented,
        web-based IRC client looks like. We're sure you're going to love it!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 centered columns">
      <img src="/images/airchatscrot.png" />
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <h2>Get Started</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns">
      <p>
        This page provides a short introduction to IRC that you
        can quickly read to learn everything you need to know to start using aIRChat
        effectively, although plenty of help is offered in the app itself. If you would 
        like to know more about the details, the
        <a href="https://en.wikipedia.org/wiki/IRC">Wikipedia article</a> on the
        subject should tell you everything you could ever want to know!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <ul class="button-group">
        <li><a href="#" data-reveal-id="register" class="button">Register</a></li>
        <li><a href="#" data-reveal-id="login" class="button">Log in</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="sepBar">
</div>
<div class="infoSection">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h3>The mission</h3>
    </div>
    <div class="small-12 medium-6 columns">
      <h3>Better than ever</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <p>
        The ultimate goal for aIRChat is to bring classic IRC into the twenty-first century
        by building an interface that is comfortable to use.
        aIRChat makes the more common features required for using IRC, such as joining servers
        and channels, more accessible and intuitive.
      </p>
    </div>
    <div class="small-12 medium-6 columns">
      <p>
        While many web-based IRC clients exist already, they are often very unusable and
        poorly designed, prioritizing instead to provide a classical experience that is more
        akin to terminal-based chat clients.
        aIRChat improves on these minimalistic interfaces by making accessibility the top priority.
      </p>
    </div>
  </div>
</div>
<div class="sepBar">
</div>
<div name="ircintro">
  <div class="row">
    <h2>What is IRC?</h2>
    <p>
      IRC (Internet Relay Chat) is a mature internet communication system that has been around for
      a long time.  When people talk about IRC, the phrase is often used to encompass all of the
      client programs that people use to chat with one another, servers that handle commands and
      messages, and the protocol itself that defines how clients and servers can talk to each other
      in a meaningful way. IRC is very simple, but it is likely somewhat different to other chat
      applications you may have used before, but there are only a few key terms you need to be
      familiar with you get started!
    </p>
  </div>
  <div class="row">
    <h2>Definitions</h2>
    <dl>
      <dt>Server</dt>
      <dd>
        A server runs software that handles commands and messages from users, making changes
        to various settings, and relaying messages to other users.
      </dd>
      <dt>Channel</dt>
      <dd>
        A channel is basically a chat room.  Users gather in channels to talk about their
        shared interests.  Anyone can create a channel simply by joining it.  If the channel
        you want to join doesn't exist, it will be created!
      </dd>
      <dt>User</dt>
      <dd>
        A user is anyone present in a channel.  Users can send messages to each other
        privately or to anyone in a channel, and they can also create new channels.
        Users are identified on a server by their "nick" (short for nickname).
      </dd>
      <dt>Operators</dt>
      <dd>
        IRC allows for individual users in a channel to be provided with special privileges
        that give them the ability to kick, ban, and invite other users among other things.
        When you create a new channel, you are automatically made its operator.
      </dd>
      <dt>Highlighting</dt>
      <dd>
        When a user writes a message containing another user's nick, that user's IRC client
        will often display a special kind of notification informing them that somone is
        trying to contact them directly.  aIRChat keeps a count in a red box next to the
        name of the channel of the number of times you have been highlighted since reading
        the messages in that channel, and by tinting message bubbles containing your nick red.
      </dd>
    </dl>
  </div>
</div>
<div class="sepBar">
</div>
<div class="infoSection">
  <div class="row">
    <h3>Contributing</h3>
    <p>
      aIRChat is an open source project independantly developed by
      <a href="https://twitter.com/_redwire">Zack Mullaly</a>, A.K.A.
      <a href="https://github.com/redwire">redwire</a>. 
    </p>
    <p>
      All of the source material is hosted on 
      <a href="https://github.com/redwire/aIRChat">Github</a>,
      and contributions of all kinds are welcome!
    </p>
  </div>
  <% if (showDonationButton) {%>
    <div class="row">
      <h3>Donating</h3>
      <p>
        aIRChat is a personal project, something I am developing on my own time.
        If you really like aIRChat and would like to donate some
        <a href="https://en.wikipedia.org/wiki/Bitcoin">Bitcoin</a> to me, so
        that I can dedicate more time to its development, you can send donations
        to the following address:<br />
        <%= btcDonationAddress %>
      </p>
    </div>
    <a name="donations"></a>
  <% } %>
</div>
<script src="/javascripts/notifier.js"></script>
<script src="/javascripts/stash.min.js"></script>
<script>
  <% if (autoJoinServer && autoJoinChannel) { %>
    var autoJoinServer = '<%= autoJoinServer %>';
    var autoJoinChannel = '<%= autoJoinChannel %>';
  <% } else { %>
    var autoJoinServer = autoJoinChannel = undefined;
  <% } %>
</script>
<script src="/javascripts/autojoin.js"></script>
<% include foot %>
