h1,h2,h3,h4,h5,h6 {
  font-family: Lato, sans-serif;
}
body {
  font-size: 14px;
  font-family: Lato, sans-serif;
  height: 100%;
}
a {
  color: #00B7FF;
}

dl.tabs {
  width: 15%;
  height: calc(100% - 45px);
  background-color: #222;
}

dl.tabs dd > a {
  background-color: #222;
  color: #eee;
}

dl.tabs dd.active > a {
  color: #eee;
  background-color: #333;
}

dl.tabs dd > a:hover {
  color: #222;
}

div#chatContent div.content {
  height: 650px;
  width: 95%;
  overflow: auto;
}

div.message {
  min-height: 40px;
  background-color: #FDFDFD;
  margin-top: 10px;
}

div.titlebar {
  background-color: #F9F9F9;
  padding: 5px;
}

div.messageContent {
  padding: 5px;
}

div.titlebar > span {
  font-size: 1.1em;
  font-weight: bold;
}

div.messageContent > span {
  font-size: 1.1em;
}

.button.close-reveal-modal {
  position: relative;
  color: #fff;
  font-size: 1.0em;
  font-weight: bold;
}

div.titlebar.self {
  background-color: #e6f6df;
}

div.titlebar.mention {
  background-color: #faeded;
}

div.messageContent.self {
  background-color: #f4fced;
}

div.messageContent.mention {
  background-color: #fefef7;
}

span.notifyLow {
  background-color: #b8b8b9;
  padding-left: 5px;
  padding-right: 5px;
  color: #222;
}

span.notifyHigh {
  background-color: #bb1f29;
  padding-left: 5px;
  padding-right: 5px;
  color: #222;
}
